.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 50%;
    margin-top: 30px;
}

.sessionsTabs {
    margin-top: 30px;
}

.actionPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.tableHead {
    background-color: var(--g-color-base-generic-medium);
}

.tableHead th {
    padding: 20px 40px;
    border: 1px solid var(--g-color-line-generic-solid);
    text-align: left;
}

.sessionsTr td {
    padding: 20px 40px;
    border: 1px solid var(--g-color-line-generic-solid);
}

.sessionsTr td.tableName, th.tableName, 
.sessionsTr td.tableStatus, th.tableStatus, 
.sessionsTr td.tableDate, th.tableDate, 
.sessionsTr td.tableParticipants, th.tableParticipants {
    border-right: 0px !important;
}

.sessionsTr td.tableUpdate, th.tableUpdate, 
.sessionsTr td.tableStatus, th.tableStatus, 
.sessionsTr td.tableDate, th.tableDate, 
.sessionsTr td.tableParticipants, th.tableParticipants {
    border-left: 0px !important;
}

.sessionNameBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    min-width: 100px;
}

.tableParticipantsBlock {
    display: flex;
    gap: 5px;
    align-items: center;
}

.tableName {
    width: 40%;
}