.oops {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 100%;
}

.oops__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--g-spacing-6);
  text-align: center;
}

.oops__icon {
  color: var(--g-color-text-hint);
  opacity: 0.6;
}

.oops__title {
  margin: 0;
}

.oops__message {
  max-width: 400px;
}

