.layout {
    height: 100%;
    width: 100%;
}


.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .layout {
        padding: 0 8px;
        box-sizing: border-box;
    }
}