.themeButton {

}

.layout {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--g-color-base-generic);
    padding: 10px 30px;
    gap: 10px;
}

.leftside, .center, .rightside {
    display: flex;
    align-items: center;
    gap: 10px
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}