.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--g-color-base-brand);
    padding: 10px 30px;
    gap: 10px;
}

.leftside, .center, .rightside {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.leftside {
    justify-content: start;
}

.center {
    justify-content: center;
}

.rightside {
    justify-content: end;
}

.avatar {
    --g-avatar-size: 80px;
    align-self: center;
}