@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.g-root {
    --g-font-family-monospace: 'Roboto Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
}

.g-root_theme_light {
    --g-color-private-brand-50: rgb(136 183 123 / 0.1);
    --g-color-private-brand-100: rgb(136 183 123 / 0.15);
    --g-color-private-brand-150: rgb(136 183 123 / 0.2);
    --g-color-private-brand-200: rgb(136 183 123 / 0.3);
    --g-color-private-brand-250: rgb(136 183 123 / 0.4);
    --g-color-private-brand-300: rgb(136 183 123 / 0.5);
    --g-color-private-brand-350: rgb(136 183 123 / 0.6);
    --g-color-private-brand-400: rgb(136 183 123 / 0.7);
    --g-color-private-brand-450: rgb(136 183 123 / 0.8);
    --g-color-private-brand-500: rgb(136 183 123 / 0.9);
    --g-color-private-brand-550: rgb(136 183 123);
    --g-color-private-brand-550-solid: rgb(136 183 123);
    --g-color-private-brand-1000-solid: rgb(49 52 47);
    --g-color-private-brand-950-solid: rgb(54 60 52);
    --g-color-private-brand-900-solid: rgb(65 75 61);
    --g-color-private-brand-850-solid: rgb(75 91 70);
    --g-color-private-brand-800-solid: rgb(85 106 79);
    --g-color-private-brand-750-solid: rgb(95 121 87);
    --g-color-private-brand-700-solid: rgb(105 137 96);
    --g-color-private-brand-650-solid: rgb(116 152 105);
    --g-color-private-brand-600-solid: rgb(126 168 114);
    --g-color-private-brand-500-solid: rgb(148 190 136);
    --g-color-private-brand-450-solid: rgb(160 197 149);
    --g-color-private-brand-400-solid: rgb(172 205 163);
    --g-color-private-brand-350-solid: rgb(184 212 176);
    --g-color-private-brand-300-solid: rgb(196 219 189);
    --g-color-private-brand-250-solid: rgb(207 226 202);
    --g-color-private-brand-200-solid: rgb(219 233 215);
    --g-color-private-brand-150-solid: rgb(231 241 229);
    --g-color-private-brand-100-solid: rgb(237 244 235);
    --g-color-private-brand-50-solid: rgb(243 248 242);

    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    --g-color-base-background: rgb(255, 255, 255);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}

.g-root_theme_dark {
    --g-color-private-brand-50: rgb(136 183 123 / 0.1);
    --g-color-private-brand-100: rgb(136 183 123 / 0.15);
    --g-color-private-brand-150: rgb(136 183 123 / 0.2);
    --g-color-private-brand-200: rgb(136 183 123 / 0.3);
    --g-color-private-brand-250: rgb(136 183 123 / 0.4);
    --g-color-private-brand-300: rgb(136 183 123 / 0.5);
    --g-color-private-brand-350: rgb(136 183 123 / 0.6);
    --g-color-private-brand-400: rgb(136 183 123 / 0.7);
    --g-color-private-brand-450: rgb(136 183 123 / 0.8);
    --g-color-private-brand-500: rgb(136 183 123 / 0.9);
    --g-color-private-brand-550: rgb(136 183 123);
    --g-color-private-brand-550-solid: rgb(136 183 123);
    --g-color-private-brand-1000-solid: rgb(237 244 235);
    --g-color-private-brand-950-solid: rgb(231 241 229);
    --g-color-private-brand-900-solid: rgb(219 233 215);
    --g-color-private-brand-850-solid: rgb(207 226 202);
    --g-color-private-brand-800-solid: rgb(196 219 189);
    --g-color-private-brand-750-solid: rgb(184 212 176);
    --g-color-private-brand-700-solid: rgb(172 205 163);
    --g-color-private-brand-650-solid: rgb(160 197 149);
    --g-color-private-brand-600-solid: rgb(148 190 136);
    --g-color-private-brand-500-solid: rgb(126 168 114);
    --g-color-private-brand-450-solid: rgb(116 152 105);
    --g-color-private-brand-400-solid: rgb(105 137 96);
    --g-color-private-brand-350-solid: rgb(95 121 87);
    --g-color-private-brand-300-solid: rgb(85 106 79);
    --g-color-private-brand-250-solid: rgb(75 91 70);
    --g-color-private-brand-200-solid: rgb(65 75 61);
    --g-color-private-brand-150-solid: rgb(54 60 52);
    --g-color-private-brand-100-solid: rgb(49 52 47);
    --g-color-private-brand-50-solid: rgb(44 44 43);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: var(--g-color-text-dark-primary);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: rgb(34, 29, 34);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}