@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.g-root {
    --g-font-family-monospace: 'Roboto Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
}

.g-root_theme_light {
    --g-color-private-brand-50: rgb(13 140 38 / 0.1);
    --g-color-private-brand-100: rgb(13 140 38 / 0.15);
    --g-color-private-brand-150: rgb(13 140 38 / 0.2);
    --g-color-private-brand-200: rgb(13 140 38 / 0.3);
    --g-color-private-brand-250: rgb(13 140 38 / 0.4);
    --g-color-private-brand-300: rgb(13 140 38 / 0.5);
    --g-color-private-brand-350: rgb(13 140 38 / 0.6);
    --g-color-private-brand-400: rgb(13 140 38 / 0.7);
    --g-color-private-brand-450: rgb(13 140 38 / 0.8);
    --g-color-private-brand-500: rgb(13 140 38 / 0.9);
    --g-color-private-brand-550: rgb(13 140 38);
    --g-color-private-brand-550-solid: rgb(13 140 38);
    --g-color-private-brand-1000-solid: rgb(31 46 35);
    --g-color-private-brand-950-solid: rgb(30 51 35);
    --g-color-private-brand-900-solid: rgb(28 62 35);
    --g-color-private-brand-850-solid: rgb(26 73 36);
    --g-color-private-brand-800-solid: rgb(24 85 36);
    --g-color-private-brand-750-solid: rgb(21 96 36);
    --g-color-private-brand-700-solid: rgb(19 107 37);
    --g-color-private-brand-650-solid: rgb(17 118 37);
    --g-color-private-brand-600-solid: rgb(15 129 38);
    --g-color-private-brand-500-solid: rgb(37 152 60);
    --g-color-private-brand-450-solid: rgb(61 163 81);
    --g-color-private-brand-400-solid: rgb(86 175 103);
    --g-color-private-brand-350-solid: rgb(110 186 125);
    --g-color-private-brand-300-solid: rgb(134 198 147);
    --g-color-private-brand-250-solid: rgb(158 209 168);
    --g-color-private-brand-200-solid: rgb(182 221 190);
    --g-color-private-brand-150-solid: rgb(207 232 212);
    --g-color-private-brand-100-solid: rgb(219 238 222);
    --g-color-private-brand-50-solid: rgb(231 244 233);

    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: var(--g-color-text-light-primary);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    --g-color-base-background: rgb(255, 255, 255);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}

.g-root_theme_dark {
    --g-color-private-brand-50: rgb(13 140 0 / 0.1);
    --g-color-private-brand-100: rgb(13 140 0 / 0.15);
    --g-color-private-brand-150: rgb(13 140 0 / 0.2);
    --g-color-private-brand-200: rgb(13 140 0 / 0.3);
    --g-color-private-brand-250: rgb(13 140 0 / 0.4);
    --g-color-private-brand-300: rgb(13 140 0 / 0.5);
    --g-color-private-brand-350: rgb(13 140 0 / 0.6);
    --g-color-private-brand-400: rgb(13 140 0 / 0.7);
    --g-color-private-brand-450: rgb(13 140 0 / 0.8);
    --g-color-private-brand-500: rgb(13 140 0 / 0.9);
    --g-color-private-brand-550: rgb(13 140 0);
    --g-color-private-brand-550-solid: rgb(13 140 0);
    --g-color-private-brand-1000-solid: rgb(219 238 217);
    --g-color-private-brand-950-solid: rgb(207 232 204);
    --g-color-private-brand-900-solid: rgb(182 221 179);
    --g-color-private-brand-850-solid: rgb(158 209 153);
    --g-color-private-brand-800-solid: rgb(134 198 128);
    --g-color-private-brand-750-solid: rgb(110 186 102);
    --g-color-private-brand-700-solid: rgb(86 175 77);
    --g-color-private-brand-650-solid: rgb(61 163 51);
    --g-color-private-brand-600-solid: rgb(37 152 25);
    --g-color-private-brand-500-solid: rgb(15 129 3);
    --g-color-private-brand-450-solid: rgb(17 118 7);
    --g-color-private-brand-400-solid: rgb(19 107 10);
    --g-color-private-brand-350-solid: rgb(21 96 14);
    --g-color-private-brand-300-solid: rgb(24 85 17);
    --g-color-private-brand-250-solid: rgb(26 73 20);
    --g-color-private-brand-200-solid: rgb(28 62 24);
    --g-color-private-brand-150-solid: rgb(30 51 27);
    --g-color-private-brand-100-solid: rgb(31 46 29);
    --g-color-private-brand-50-solid: rgb(32 40 31);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: rgb(34, 29, 34);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}