name: Add issue to project

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add issue to project with status
        uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/1202-corp/projects/2
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
          labeled: ""
          label-operator: OR

